@import url('/static/barra.css ');
body {
    background-color: var(--gris-industrial);
   
}
.iniciar-section{
    
    background-color: #B89E2A;
}
.container {
    background-color: var(--blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--text_sha);
    width: 300px;
}
label {
    display: block;
    margin-bottom: 8px;
    color: var(--negro-profundo);
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid var(--gris-acero);
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--dorado);
    color: var(--blanco);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #B89E2A;
}

h2 {
    color: var(--negro-profundo);
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    color: var(--negro-profundo);
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid var(--gris-acero);
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--dorado);
    color: var(--blanco);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #B89E2A;
}