.loginn {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
}

.loginn::before {
    content: '';
    background-image: url('/static/img/font.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}

.login-cont {
    background-color: rgba(255, 255, 255, 0.812);
    padding: 20px;
    border-radius: 8px;
    box-shadow:  var(--box);
    width: 400px;
    max-width: 90%;
    margin: 10px auto;
}


.enl{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    
}
.enl a {
    color: var(--dorado);
    text-decoration: none;
    font-size: 18px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: var(--negro-profundo);
}


.name-container {
    display: flex;
    gap: 10px;
}

.name-container input {
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--gris-acero);
  
    border-radius: 6px;
    font-size: 14px;
}


input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: var(--dorado);
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #B89E2A;
}

h2 {
    color: var(--negro-profundo);
    text-align: center;
}
.address {
    width: 100%;
    background-color: black;
}

.address input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--gris-acero);
    border-radius: 6px;
    font-size: 14px;
}
.password-container {
    position: relative;
    width: 100%;
}

#togglePassword {
    position: absolute;
    top: 40%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: var(--negro-profundo);
}


@media (max-width: 768px) {
    .login-cont {
        padding: 15px;
        width: 90%;
        max-width: 400px;
    }
}