.manual{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont_manual{
    max-width: 800px;
    text-align: center;
}
.tit_man{
    margin-top: 50px;
    max-width: 800px;
    color: #333;
    font-size: 50px;
    
    
}
.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}



.step {
    margin-bottom: 40px;
    padding: 15px;
    border-left: 5px solid gold;
    background: #f9f9f9;
    border-radius: 5px;
}

.container h2 {
    color: var(--dorado);
    margin-bottom: 10px;
}

.container p {
    color: #3b3b3b;
    line-height: 1.6;
    font-size: 20px;
}

.container ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    color: black;
}

.container ul li {
    background: url("ruta-a-icono/check.png") no-repeat left center;
    background-size: 18px;
    padding-left: 30px;
    margin-bottom: 10px;
    color: #333;
}

.container img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bonotes_manual{
    max-width: 800px;
    text-align: center;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    flex-wrap: wrap;

}
.bonotes_manual a{
    text-decoration: none;
    width: 180px;
    color: white;
    background-color: var(--dorado);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 10px 16px #888888;
    
    
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    img {
        width: 100%;
    }
}
