.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2; /* Fondo oscuro */
}

.profile-container {
    max-width: 400px;
    width: 100%;
    background: var(--blanco);
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: var(--box);
}


.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 18px;
    color: #D4AF37;
    margin-top: -5px;
}

.location {
    font-size: 14px;
    color: #848989;
}

.profile-info {
    margin-top: 20px;
    text-align: left;
}

.input {
    margin-bottom: 10px;
}

.input label {
    font-weight: bold;
    color: #D4AF37;
    display: block;
}

.input p {
    background: var(--blanco);
    padding: 8px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #555;
    color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
    .profile  {
        margin-bottom: 70px;
    }}