@import url('/static/barra.css ');

.name-container {
    display: flex;
    gap: 10px;
}

.name-container div {
    flex: 1;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background: #95A5A6;
    color: black;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container {
    max-width: 600px;
    margin: 50px 0 50px 0;
    background: #333D41;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
   
}



input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background: #95A5A6;
    color: black;
}

