
.main {
    background-color: var(--negro-carbon);
    color: #D4AF37;
    margin: 0;
    padding: 0;
}

.conten {
    width: 100%; /* Asegúrate de que el contenedor tenga altura */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

.prod {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 0 10 0;
    margin-top: 80px;
    padding: 50 0 0 0;
}


.menu-con {
    width: 90%;
    display: flex; /* Cambiado de grid a flex */
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;


}

h1 {
    color: #D4AF37;
    margin-bottom: 20px;
}

.food-item {
    min-width: 550px;

    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 8px rgb(212, 175, 55);
}
.desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 30px;
    
}

.food-item img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #D4AF37;
}

.details {
    flex-grow: 1;
    padding: 0 15px;
    text-align: left;
    flex-direction: column;
}

.details h3 {
    margin: 5px 0;
    color: #D4AF37;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #D4AF37;
}

.btn-descripcion, .btn-per, .agregar-carrito, .agregar-carrito-bebida {
    background: #D4AF37;
    color: #000000;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%; /* Botones ocupan todo el ancho */
    text-align: center;
    
}


.btn-descripcion:hover, .btn-per:hover, .agregar-carrito:hover, .agregar-carrito-bebida:hover {
    background: #b89630;
}
.agregar-carrito-bebida{
    margin-top: 20px;
}

select {
    background: #333D41;
    color: #D4AF37;
    border: 2px solid #D4AF37;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

/* Estilos del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    min-width: 400px;
    background-color: #1C1C1C;
    color: #D4AF37;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 10px rgb(212, 175, 55);
    text-align: center;
    
}
.modal-content h2{
    color: var(--dorado);
    font-size: 25px;
    margin: 10px;
}

.modal-content p{
    color: var(--dorado);
    font-size: 20px;
    
}

.close {
    color: #D4AF37;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #b89630;
}

.ingredient-grid {
    display: grid;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 30px;
    justify-content: center;
   color: var(--dorado);
}

.ingredient-grid label {
    background: #333D41;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #D4AF37;
}

.ingredient-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ingredient-option.selected {
    background-color: #D4AF37 !important; /* Color dorado cuando está seleccionado */
    border-color: #D4AF37 !important;
    color: white !important;
    font-weight: bold;
}
.ingredient-option.selected .checkmark::after {
    
    color: black;
    
}



.agregar-carrito{
    margin-top: 20px; 
}

.modal-content .img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}


/* Ajuste responsive para móviles */
@media (max-width: 1008px) {
    .menu-con {
        
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
    


    .details {
        padding: 10px;
        width: 100%;
    }

    .btn-descripcion, .btn-per, .agregar-carrito {
        width: 100%; /* Botones ocupan todo el ancho */
        text-align: center;
    }
}
@media (max-width: 668px) {
    
    .food-item {
        flex-direction: column; /* Imagen arriba, texto abajo */
        text-align: center;
        padding: 20px;
        min-width: 400px;
    }
    .desc{
        
        width: 80%;
    }
    
}
