.prod{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro-profundo);
    color: white;
    
}
.menu-con {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    
    width: 90%;
   
   

}

.food-item {
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 3px 3px 10px;
    display: inline-block;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 20%;
    background-color: #ffffff;
    
    
}

.food-item img {
    width: 100%;
    height: 250px;
    border-radius: 20px  20px 0 0 ;
    margin-bottom: 10px;
    padding: 10px;
    
}
.details{
    padding: 10px;
    
    margin-bottom: 10px;
    text-align: start;
}
.details p {
    margin: 5px 0;
    
}
.ingredient-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    text-align: left;
    margin-bottom: 15px;
}

.ingredient-grid label {
    background: #f8f8f8;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}


.ingredient-grid input {
    accent-color: #D4AF37; 
    transform: scale(1.2);
}

.boton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.boton button{
    background-color: var(--dorado);
    color: white;
    border: solid 1px var(--dorado);
    padding: 10px;
    border-radius: 25px;
    

}
.boton button:hover{
    transition: all .2s ;
    background-color: var(--);
    cursor: pointer;
}

.btn-custom {
    background: #D4AF37;
    color: black;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    
}

.btn-cart {
    background: #95A5A6;
    color: black;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

/* ESTILO DEL MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    position: relative;
    z-index: 1000;
}

.modal-content .desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin: 10px 0;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .menu-con {
        padding-top: 60px;
        
    }
    .food-item {
        width: 180px;
    }
    
}

/* .menu-con {
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

h1 {
    color: #333;
}

.food-item {
    display: inline-block;
    width: 200px;
    margin: 15px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: solid 2px var(--dorado);
    padding: 10px;
}

.food-item img {
    width: 79%;
    height: 100px;
    padding: 20px;
    border: solid 2px var(--dorado);
    margin-bottom: 10px;
    
}

.details {
    padding: 10px;
    border: solid 2px var(--dorado);
    margin-bottom: 10px;
    text-align: start;
}

.details p {
    margin: 5px 0;
    color: #666;
}

.boton button{
    background-color: #545454;
    color: white;
    border: solid 1px var(--dorado);
    padding: 10px;
    border-radius: 25px;
    

}
.boton button:hover{
    transition: all .2s ;
    background-color: var(--dorado);
    cursor: pointer;
} */

@media (max-width: 768px) {
    .menu-con {
        padding-top: 50px;
        
    }
    .food-item {
        width: 180px;
    }
    
}
