@import url('/static/barra.css ');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kotta One", serif;
}


.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main::before{
    content: '';
    background-image: url('/static/img/ima.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000b6;
}

.contenido{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #000000b6;
    z-index: 1;
}

.cont-ini{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
}

.cont-ini h2{
    text-align: center;
    font-size: 6.5em;
    font-weight: 900;
    margin: 0;
    color: #D9D9D9;
    text-shadow: 5px 20px 5px #000000;;
}

.cont-ini .descripcion{
    background-color: #4f434377;
    text-align: justify;
    padding: 5%;
    width: 450px;
    margin: 5px 0;
    color: #D9D9D9;
}

.cont-ini .botones{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.botones .boton{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 3px;
    font-size: 1.1em;
    font-weight: 700;
    transition: .3s all;
    background-color: #00000059;
    color: #D9D9D9;
}

.boton:hover{
    background-color: #888;
    cursor: pointer;
    
}


.imagen{
    width: 650px;
    height: 450px;
    margin: 20px;
    
}

.imagen-1{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0px 20px 20px 0px #000000;
}



