{% extends 'base.html' %}
{% load static %}
{% block title %} contactenos {% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'contactenos.css' %}"> 
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<section class="contact-section" id="contacto">
    <div class="contact-container">
        {% if error %}
                <script type="text/javascript">
                    alert("{{ error }}");
                </script>
            {% endif %}
        <div class="contact-form">
            <h2 class="form-title">Contáctanos</h2>
            <form method="POST" action="{% url 'contactenos' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" placeholder="Nombre Completo" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Correo" id="correo" name="correo" required>
                </div>
                <div class="form-group">
                    <input type="tel" placeholder="Telefono" id="telefono" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea id="mensaje" name="mensaje" required></textarea>
                </div>
                <button type="submit" class="submit-btn">Enviar</button>
            </form>
            
            
            
        </div>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/d/embed?mid=1R_OQ9ozCLAXFPL07Th384_TGCCPiMm4&hl=es-419&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
    </div>
</section>
{% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    title: "Felicitaciones",
                    text: "{{ m }}",
                    icon: "success"
                })
            </script>
        {% endfor %}
    {% endif %}


{% endblock %}