{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'contraseña.css' %}">
<div class="section">
    <div class="container">
        {% if messages %} <!--Solo se usa si hay mensajes de parte del views-->
        <div class="messages-container"
            style="position: fixed; top: 20px; right: 20px; z-index: 1000; width: 300px;">
            {% for message in messages %} <!--Bucle de django que recorre los mensajes-->
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                role="alert" style="margin-bottom: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">
                {{ message }} <!--Muestra el error-->
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="wrapper restablecer-wrapper">
            <div class="form-header">
                <div class="titles">
                    <div class="title-login">Restablecer contraseña</div>
                </div>
            </div>
            <form method="POST" action="{% url 'restablecer' %}">
                {% csrf_token %}
                <div class="input-box">
                    <i class='bx bx-envelope icon'></i>
                    <input type="email" placeholder="Correo Registrado" class="input-field" id="log-email" name="email" required>
                    
                </div>
                <div class="env">
                    <button type="submit" class="btn-submit" id="SignInBtn">Enviar enlace </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}