{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'restablecer.css' %}">

<div class="section">
    <div class="container">
        <div class="wrapper restablecer-wrapper">
            <div class="form-header">
                <div class="titles">
                    <div class="title-login">Restablecer contraseña</div>
                </div>
            </div>
            <form method="POST" action="{% url 'restablecer' %}">
                {% csrf_token %}
                <div class="input-box">
                    <i class='bx bx-envelope icon'></i>
                    <input type="email" placeholder="Correo Registrado" class="input-field" id="password" name="email" required>
                    
                </div>
                <div class="env">
                    <button type="submit" class="btn-submit" id="SignInBtn">Enviar enlace </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% if messages %}
    <script id="django-messages" type="application/json">
        [
            {% for message in messages %}
                {"tags": "{{ message.tags|escapejs }}", "message": "{{ message|escapejs }}"}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    </script>
{% endif %}


<script>
    document.addEventListener("DOMContentLoaded", function () {
    let scriptTag = document.getElementById("django-messages");

    if (scriptTag) {
        let mensajes = JSON.parse(scriptTag.textContent);

        mensajes.forEach(msg => {
            let icono = msg.tags.includes("error") ? "error" : "success";
            let titulo = msg.tags.includes("error") ? "Error" : "Éxito";
            let colorBoton = msg.tags.includes("error") ? "#d33" : "#3085d6";

            Swal.fire({
                icon: icono,
                title: titulo,
                text: msg.message,
                confirmButtonText: "OK",
                confirmButtonColor: colorBoton
            });
        });
    }
});

</script>

{% endblock %}