{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Historial {% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'historial.css' %}"> 
    <div class="historial">
        <h2>Historial</h2>
        
        <div class="tab-container">
            <button class="tab" onclick="showTab('reservas')">Reservas</button>
            <button class="tab active" onclick="showTab('compras')">Pedidos</button>
            
        </div>

        <div id="compras" class="content">
            <table>
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Fecha y Hora</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr id="pedido-{{ pedido.id }}">
                        <td>
                            <ul>
                                {% for producto in pedido.productos %}
                                <li>
                                    <strong>{{ producto.nombre }}</strong>  
                            
                                    {% if producto.ingredientes and producto.ingredientes|length > 0 %}
                                        |  {{ producto.ingredientes|join:", " }}
                                    {% endif %}
                            
                                    {% if producto.sabor %}  
                                        |  {{ producto.sabor }}
                                    {% endif %}
                            
                                    {% if producto.alcohol is not None %}  
                                        |  {% if producto.alcohol %}Con alcohol{% else %}Sin alcohol{% endif %}
                                    {% endif %}
                            
                                    x {{ producto.cantidad }}
                                </li>
                                {% endfor %}
                            </ul>

                        </td>
                        <td class="fecha">{{ pedido.fecha|date:"d/m/y - g:i A" }}</td>
                        <td><strong>${{ pedido.total|intcomma }}</strong></td>

                        <td class="estado-{{ pedido.estado }}">{{ pedido.get_estado_display }}</td>
                        <td>
                            <!-- <button class="btn delete" onclick="confirmarEliminacionPedido('{{ pedido.id }}')"><i class='bx bxs-trash-alt'></i></button>
                             -->
                            {% if pedido.estado == "Pendiente" %}
                            <a href="{% url 'cancelar_pedido' pedido.id %}"  onclick="return confirm('¿Estás seguro de que quieres cancelar este pedido?');"><button class="bton" title="cancelar"><i title="cancelar" class='bx bxs-x-circle' ></i></button></a>
                            
                            {% elif pedido.estado == "Confirmado" %}
                                <i class='bx bxs-badge-check' style="color: blue; font-size: 22px;" title="Confirmado"></i>

                            {% elif pedido.estado == "Enviado" %}
                                <i class='bx bxs-truck' style="color: #ff9900; font-size: 22px;" title="Enviado"></i>

                            {% elif pedido.estado == "Entregado" %}
                                <i class='bx bxs-box' style="color: green; font-size: 22px;" title="Entregado"></i>

                            {% elif pedido.estado == "Cancelado" %}
                                <i class='bx bxs-x-circle' style="color: red; font-size: 22px;" title="Cancelado"></i>
                            {% endif %}
                            
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No tienes pedidos registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <button class="rest" onclick="restaurarPedidos()">Restaurar Pedidos</button> -->
        </div>
        <div id="reservas" class="content">
            <table>
                <thead>
                    <tr>
    
                        <th>Fecha y Hora</th>
                        <th>Mesa</th>
                        <th>Personas</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="reservas-lista">
                    {% for reserva in reservas %}
                    <tr id="reserva-{{ reserva.id }}">
                        
                        <td>{{ reserva.fecha|date:"d/m/y" }} - {{ reserva.hora|time:"h:i A" }}</td>  <!-- Formato de 12 horas con AM/PM -->
                        <td>Mesa {{ reserva.mesa.numero }}</td>
                        <td>{{ reserva.personas }}</td>
                        <td class="estado-{{ reserva.estado }}">{{ reserva.estado }}</td>
                        <td>
                            <!-- <button class="btn delete" onclick="eliminarReserva('{{ reserva.id }}')"><i class='bx bxs-trash-alt'></i></button> -->
                            {% if reserva.estado == "Pendiente" %}
                            <a href="{% url 'cancelar_reserva' reserva.id %}" onclick="return confirm('¿Estás seguro de que quieres cancelar esta reserva?');"><button class="bton" title="cancelar"><i title="cancelar" class='bx bxs-x-circle' ></i></button></a>
                            
                            {% elif reserva.estado == "Confirmado" %}
                                <i class='bx bxs-badge-check' style="color: blue; font-size: 22px;" title="Confirmado"></i>

                            {% elif reserva.estado == "Cancelado" %}
                                <i class='bx bxs-x-circle' style="color: red; font-size: 22px;" title="Cancelado"></i>
                            {% endif %}
                            
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No tienes reservas registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                
            </table>
            <!-- <button class="rest" onclick="restaurarReservas()">Restaurar Reservas</button> -->
        </div>

    </div>

    <script src="{% static 'js/historial.js' %}"></script>
    <script>
        
    </script>
    
    
{% endblock %}
