{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'home.css' %}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<main class="main">
    <section class="contenido" >
        <div class="cont-ini" data-aos="fade-right" data-aos-duration="1750">
            <h2>Chok Dog</h2>
            <div class="descripcion">
                <p>¡Te invitamos a vivir una experiecia única en Chok Dog! <br>
                Lugar ideal para pasar un buen rato con amigos y familiares, ven a disfrutar de un ambiente acogedor, amigable y prueba nuestras preparaciones. No olvides compartir tu experiencia con nosotros.</p>
            </div>
            <div class="botones">
                <button class="boton" onclick=location.href="{% url 'iniciar' %}">Iniciar Sesión</button>

                <button class="boton" onclick=location.href="{% url 'regis' %}">Registrarse</button>
            </div>
        </div>
        <div class="imagen" data-aos="fade-left" data-aos-duration="1750">
             <img src="{% static 'img/cok_1.jpg' %}" alt="" class="imagen-1">
        </div>
    </section>
</main>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


{% endblock %}