{% extends 'base.html' %}
{% block title %} inicio {% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<main class="main">
    <section class="contenido" >
        <div class="cont-ini" data-aos="fade-right" data-aos-duration="1750">
            <h2>Chok Dog</h2>
            <div class="descripcion">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae vel fugit obcaecati facere tenetur earum quaerat voluptate saepe soluta itaque ex optio ipsam doloremque sunt, error, dicta molestiae repellendus quibusdam?</p>
            </div>
            <div class="botones">
                <button class="boton" onclick=location.href="{% url 'iniciar' %}">Iniciar Sesión</button>

                <button class="boton" onclick=location.href="{% url 'regis' %}">Registrarse</button>
            </div>
        </div>
        <div class="imagen" data-aos="fade-left" data-aos-duration="1750">
             <img src="{% static 'img/cok_2.jpg' %}" alt="" class="imagen-1">
        </div>
    </section>
</main>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


{% endblock %}