{% extends 'base.html' %}
{% load static %}
{% block title %} inicio sesión {% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'login.css' %}">

<div class="loginn">
    <div class="login-cont">
        <h2>Iniciar Sesión</h2>
        <form action="/iniciar" method="post">
            {% csrf_token %}
            <label for="username">Nombre de Usuario:</label>
            <input type="text" placeholder="Ingrese su usuario" id="username" name="username" required>
            <label for="password">Contraseña:</label>
            <div class="password-container">
                <input type="password" placeholder="Ingrese su contraseña" id="password" name="password" required>
                <i id="togglePassword" class="fa fa-eye" onclick="togglePassword()"></i>
            </div>
            <input type="submit" value="Iniciar Sesión">
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
        <p>¿No tienes cuenta? <a href="{% url 'regis' %}">Regístrate aquí</a></p>
    </div>
</div>
{% if error %}
    <script type="text/javascript">
        alert("{{ error }}");
    </script>
{% endif %}

<script type="text/javascript">
    window.onload = function() {
            var passwordField = document.getElementById('password');
            var toggleIcon = document.getElementById('togglePassword');
            
            // Asegurarse de que el campo de la contraseña esté oculto por defecto
            passwordField.type = 'password';  // La contraseña está oculta por defecto
            toggleIcon.classList.add('fa-eye-slash');  // Añadir el ícono con la raya
        }
    function togglePassword() {
        var passwordField = document.getElementById('password');
        var passwordType = passwordField.type;
        var toggleIcon = document.getElementById('togglePassword');

        // Cambiar entre 'password' y 'text'
        if (passwordType === 'password') {
            passwordField.type = 'text';  // Mostrar la contraseña
            toggleIcon.classList.remove('fa-eye-slash');
            toggleIcon.classList.add('fa-eye');  // Cambiar ícono
        } else {
            passwordField.type = 'password';  // Ocultar la contraseña
            toggleIcon.classList.remove('fa-eye');
            toggleIcon.classList.add('fa-eye-slash');  // Cambiar ícono
        }
    }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



{% endblock %}