{% extends 'base.html' %}
{% load static %}
{% block title %} inicio {% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'login.css' %}">

<main class="main">
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form action="/iniciar" method="post">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Iniciar Sesión">
            <br>
            <p>Si no cuenta con una cuenta por favor registese</p>
                <input type="button" value="Registrarse" id="sign-in" onclick=location.href="{% url 'regis' %}">
        </form>
    </div>
</main>

{% endblock %}