{% extends 'base.html' %}
{% load static %}
{% block title %} inicio sesión {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'pagina.css' %}">
<header class="hero">
    <div class="hero-content">
        
        <h1><span class="resaltado"> ¡Hola {{ user.first_name}} {{ user.last_name }},<br> Bienvenido a </span> Chok Dog!</h1>
        <h2>🌟 Descubre la magia de nuestros sabores 🌟</h2>
        <p>Ven por una experiencia culinaria diseñada para deleitar tus sentidos. Cada plato es preparado con los ingredientes más frescos y con un toque especial que te hará regresar por más.
        </p>
    </div>
    
    <div class="hero-img">
        <img src="{% static 'img/cok_2.jpg' %}" alt="Plato de comida">
    </div>
</header>

<section class="menu-of">
    <h2>Nuestros Platos y Cócteles</h2>
    <div class="menu-grid">
        <div class="menu-item">
            <img src="{% static 'img/pla1.jpg' %}" alt="Hamburguesa">
            <h3>Hamburguesa Especial</h3>
            <p>Carne jugosa con ingredientes frescos.</p>
        </div>
        <div class="menu-item">
            <img src="{% static 'img/pla3.jpg' %}" alt="Cóctel">
            <h3>Cóctel de la Casa</h3>
            <p>Una combinación perfecta de sabores.</p>
        </div>
        <div class="menu-item">
            <img src="{% static 'img/pla4.jpg' %}" alt="Pizza">
            <h3>Crema Batida</h3>
            <p>Ingredientes premium y masa crujiente.</p>
        </div>
        <div class="menu-item">
            <img src="{% static 'img/pla2.jpg' %}" alt="Batido">
            <h3>Batido Refrescante</h3>
            <p>El equilibrio perfecto entre dulzura y frescura.</p>
        </div>
    </div>
</section>
        
    
{% endblock %}