{% extends 'base.html' %}
{% load static %}
{% block title %} Perfil {% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'perfil.css' %}">
<div class="profile">
    <div class="profile-container">
        <div class="profile-header">
            <img src="{% static 'img/perfil.webp' %}" alt="Foto de perfil" class="profile-pic">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="username">@{{ user.username }}</p>
            <p class="location">📍 {{ user.address }}</p>
        </div>

        <div class="profile-info">
            <div class="input">
                <label>Nombre completo:</label>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="input">
                <label>Nombre de usuario:</label>
                <p>@{{ user.username }}</p>
            </div>
            <div class="input">
                <label>Correo electrónico:</label>
                <p>{{ user.email }}</p>
            </div>
            <div class="input">
                <label>Teléfono:</label>
                <p>{{ user.phone_number  }}</p>
            </div>
            <div class="input">
                <label>Dirección:</label>
                <p>{{ user.address }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}