{% extends 'base.html' %}
{% load static %}
{% block title %} Productos {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'productos.css' %}">
<div class="prod">
    <div class="menu-con">
        <h1>Productos</h1>

        {% for product in products %}
            <div class="food-item">
                <img src="{{ product.imagen.url }}" alt="{{ product.nombre }}">
                <div class="details">
                    <h3>{{ product.nombre }}</h3>
                    <p>{{ product.descripcion }}</p>
                    <span class="price">${{ product.precio }}</span>
                </div>
                <div class="boton">
                    <button class="btn-custom" onclick="openModal('modal{{ product.id }}')">Ármalo a tu gusto</button>
                </div>
                <div class="boton">
                    <button class="btn-custom agregar-carrito" 
                        data-id="{{ product.id }}" 
                        data-nombre="{{ product.nombre }}" 
                        data-precio="{{ product.precio }}">
                        Agregar al carrito
                    </button>
                </div>
            </div>
            <div id="modal{{ product.id }}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal{{ product.id }}')">&times;</span>
            <h2>Personaliza tu {{ product.nombre }}</h2>
            <p class="desc">{{ product.descripcion }}</p>

            <div class="ingredient-grid">
                {% for ingrediente in product.get_ingredientes %}
                    <label><input type="checkbox" name="ingrediente"> {{ ingrediente }}</label>
                {% endfor %}
            </div>

            <button class="btn-cart agregar-carrito" 
                data-id="{{ product.id }}" 
                data-nombre="{{ product.nombre }}" 
                data-precio="{{ product.precio }}">
                Agregar al Carrito
            </button>
        </div>
    </div>
        {% endfor %}


<script>
    function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
    }

    // Cerrar el modal si se hace clic fuera de él
    window.onclick = function(event) {
        let modals = document.querySelectorAll(".modal");
        modals.forEach(function(modal) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    };

</script>


{% endblock %}
